{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <ul>
                <li><a href="{{ path('post_index') }}">Список всех статей</a></li>
                <ul>
                    <li>
                        {% if post is empty %}
                            Добавьте хотя бы одну статью для просмотра!
                        {% else %}
                            <a href="{{ path('post_show', { 'url': post.url }) }}">
                                Детальная страница статьи (в ссылке должно быть ЧПУ)
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('post_new') }}">
                            Страница создания статьи
                        </a>
                    </li>
                    <li>
                        {% if post is empty %}
                            Добавьте хотя бы одну статью для возможности редактирования!
                        {% else %}
                            <a href="{{ path('post_edit', { 'id': post.id }) }}">
                                Страница редактирования статьи.
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </ul>
            <ul>
                <li><a href="{{ path('post_index', { '_type': 'auth' }) }}">Список всех авторских статей</a></li>
            </ul>
            <ul>
                <li><a href="{{ path('tag_index') }}">Список всех тегов</a></li>
                <ul>
                    <li>
                        
                        {% if tag is empty %}
                            Добавьте хотя бы один тег и статью для возможности просмотра статей тега!
                        {% else %}
                            <a href="{{ path('tag_show', { 'id': tag.id }) }}">
                                Статьи по конкретному тегу
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </ul>

        </div>
    </div>
{% endblock %}


